<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
  <head> <link rel="stylesheet" href="{{ url_for('static', filename='stylesRegister.css') }}"></head>
  <body>
    <form id="register-form" method="POST" action="">
      {{ form.csrf_token }}
      <div class= "register-wrapper">
        <h1>Print Guard</h1>
        <p class="register-fields">{{ form.username_new.label }} {{ form.username_new }}</p>
        <p class="register-fields">{{ form.password_new.label }} {{ form.password_new }}</p>
        <p class="register-fields">{{ form.password_confirm.label }} {{ form.password_confirm }}</p>
      </div>
      <p class="register-submit"><input class="register-submit-btn" type="submit" value="Register user"></p>
    </form>
    <p></p>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li class = "register_error">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </body>
{% endblock %}
