@font-face {
    font-family: 'Dense';
    src: url('fonts/Dense-Regular.otf')
        format('opentype');
}

@font-face {
    font-family: "Open Sans";
    src: url('fonts/OpenSans-Regular.ttf')
        format('truetype');
}


.flex-container {
    display: flex;
    font-family: "Open Sans";
    border-bottom: 2px solid gray;

}
.flex-container-information{
    margin: auto;
    display: flex;
    font-family: "Open Sans";
    width: 100vw;
    height: 20vh;
}
.flex-container-display{
    padding-top: 5%;
    margin: auto;
    display: flex;
    font-family: "Open Sans";
    width: 90vw;
    height: 20vh;
}
.flex-child {
    flex: 1;
}

.flex-child:first-child {
    margin-right: 20px;
}
.flex-child a{
    text-decoration: none;
    color: black;
    padding-right: 10%;
    font-size: large;
}

.button {
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

input[type="file"] {
    display: none;
}

#overlay {
    display: none;
    font-family: "Open Sans";
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#text{
    font-family: "Open Sans";
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    font-size: 200%;
    color: black;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
/*  Overlay from https://www.w3schools.com/howto/howto_css_overlay.asp */

#popup {
    padding: 10%;
    background-color: white;
    border-radius:30px;
}
#confirm_button {
    font-size: 100%;
}
